.laybuy-checkout-widget {
    color: black;
    font-weight: 300;
    font-size:16px;
}
.laybuy-inline-widget img {
    display: inline-block;
    vertical-align: middle;
    height: 1.2em;
    position: relative;
    top: -2px;
    margin-right:5px;
    margin-left: 4px;
}
.laybuy-inline-widget u {
    cursor: pointer;
}

.laybuy-checkout-widget {
    margin: 5px 0 5px 0;
}

.laybuy-checkout-widget img {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -2px;
}

.laybuy-checkout-content {
    text-align: center;
    padding-top: 5px;
}

.laybuy-checkout-content .title {
    color: #756efa;
    font-size: 16px;
    margin: 20px 0;
}
.laybuy-checkout-img-wide {
    display: inline-flex;
    text-align: center;
}
.laybuy-checkout-img {
    margin-top: 10px;
    padding-left: 15px;
}
.laybuy-checkout-img img {
    width: 50%;
    max-width: 100%;
    float:left;
}
.laybuy-checkout-img img{
    margin: 0px !important;
    float: left !important;
}

.laybuy-checkout-img img.second-row {
    margin-bottom: 20px !important;
}

.laybuy-checkout-img-wide img {
    width: 25%;
}
.laybuy-payment-info {
    font-size: 14px;
    color: #6d6d6d;
}
.laybuy-logo-link {
    margin-right: 5px;
}

.laybuy-cart-widget {
    text-align: left;
}
.laybuy-cart-widget h3 {
    color: #756efa;
}
.laybuy-cart-widget span {
    font-size: 0.85rem;
    text-decoration: none;
}
.laybuy-cart-widget {
    margin: 20px 0px;
}